.cabecalho {
    
    background-image: linear-gradient(black,blueviolet);
    color: rgb(184, 16, 161);
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-image: linear-gradient(blueviolet,blue);

}

.section2 {
    background-image: linear-gradient(blue, violet);

}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-imageml{
    width: 20%;
}       