.cabecalho {
    
    background-image: linear-gradient(black,brown);
    color: azure;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: brown;
}

.section2 {
    background-color: blue;
    padding: 100px;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-imagem{
    width: 20%;
}